/* Reset de estilos básicos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #005A8C; /* Azul */
    color: white;
    padding: 20px;
    text-align: center;
}

header .logo h1 {
    font-size: 2.5rem;
}

.language-selector {
    position: absolute;
    top: 20px;
    right: 20px;
}

.language-selector button {
    background-color: #333;
    color: white;
    padding: 10px;
    margin: 5px;
    border: none;
    cursor: pointer;
}

.language-selector button:hover {
    background-color: #007BFF;
}

.products {
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.product-item {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 250px;
    text-align: center;
    padding: 20px;
}

.product-item img {
    width: 100%;
    border-radius: 8px;
}

.product-item button {
    background-color: #00A3E0; /* Azul */
    color: white;
    padding: 10px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
}

.product-item button:hover {
    background-color: #005A8C;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

